# Arquivos de log e dependências
node_modules
npm-debug.log

# Arquivos gerados pelo TypeScript
# Ignora todos os arquivos .js e os 'map' de debug.
# # *.js
!public/*.js
!public/*.js
*.js.map

# Diretório de build (prática comum para produção)
/dist
/build

# Arquivos de ambiente
.env
